body {
    margin: 0;
    padding: 0;
}

.container-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(229, 229, 229);
}

.container-card-admin {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(195, 195, 195);
    width: 450px;
    margin: 20px 0;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgb(166, 166, 166);
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .container-card-admin {
        width: 600px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container-card-admin {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .container-card-admin {
        width: 750px;
    }
}

.label-card-admin {
    margin: 0px 20px;
    color: rgb(33, 33, 33);
}

.titulo-admin {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    font-weight: bold;
    width: 100%;
    color: rgb(33, 33, 33);
}

.container-card-admin button {
    margin: 15px 20px;
    border: none;
    height: 40px;
    background: rgb(13, 188, 121);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.container-card-admin textarea {
    background: rgb(255, 255, 255);
    margin: 15px 20px;
    border: 1px solid rgb(195, 195, 195);
}

.container-card-admin input[type="text"] {
    background: rgb(255, 255, 255);
    margin: 15px 20px;
    border: 1px solid rgb(195, 195, 195);
    height: 30px;
    padding-left: 10px;
}

.table-equipe {
    background: red;
    margin: 15px 20px;
    list-style-type: none;
    padding-inline-start: 0;
}

.table-equipe li {
    display: flex;
    background: rgb(13, 188, 121);
    height: 50px;
}

.table-equipe li:nth-child(2n) {
    background: rgb(11, 158, 102);
}

.table-equipe li div {
    display: flex;
    align-items: center;
    color: #fff;
}

.table-equipe li div:nth-child(1) {
    font-size: 20px;
    width: 80%;
    padding-left: 15px;
}

.table-equipe li div:nth-child(2) {
    width: 10%;
    cursor: pointer;
}

.table-equipe li div:nth-child(3) {
    width: 10%;
    cursor: pointer;
}

.btn-add-equipe {
    margin: 15px 20px;
    border: none;
    height: 40px;
    background: rgb(220, 230, 86) !important;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.poupup-add-equipe {
    background: red;
    height: 100vh;
    width: 100vw;
    top: 0px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(195, 195, 195);
    position: fixed;
    box-shadow: 0px 3px 3px 0px rgb(166, 166, 166);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poupup-add-equipe > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poupup-add-equipe > div > div:nth-child(2) {
    margin-top: 40px;
    width: 100%;
}

.poupup-add-equipe > div > div:nth-child(2) div input {
    width: 80%;
}

.poupup-add-equipe > div > div:nth-child(3) {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.poupup-add-equipe > div > div:nth-child(3) div {
    width: 40%;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    color: #fff;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.showPoupup {
    display: flex;
}

.hiddenPoupup {
    display: none;
}

.poupup-add-equipe > div > div:nth-child(3) div:nth-child(1) {
    background: rgb(63, 211, 63);
}


.poupup-add-equipe > div > div:nth-child(3) div:nth-child(2) {
    background: rgb(211, 63, 63);
}

.poupup-add-equipe > div > div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poupup-add-equipe input[type="text"] {
    background: rgb(255, 255, 255);
    margin: 15px 20px;
    border: 1px solid rgb(195, 195, 195);
    height: 30px;
    padding-left: 10px;
}