.sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-sobre {
    margin-bottom: 70px;
    width: 200px;
    height: 200px;
    background: #6770B7;
}

.informacao-sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

@media (max-width: 575.98px) { 
    .sobre {
        padding: 80px 0;
    }
    .container-sobre {
        width: 414px;
    }
    .informacao-sobre {
        width: 80%;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .sobre {
        padding: 80px 0;
    }
    .container-sobre {
        width: 514px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container-sobre {
        width: 714px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container-sobre {
        width: 814px;
    }
}

@media (min-width: 1200px) {
    .container-sobre {
        width: 1014px;
    }
}