.contato {
    height: 650px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.container-titulo-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-titulo-contato p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.container-titulo-contato p:nth-child(1){
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #41454B;
}

.container-titulo-contato p:nth-child(2){
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616770;
}

.container-contato-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ADB5C0;
    margin: 60px 0 20px 0;
}

.botao-contato-blue {
    background: #388E3C;
    border-radius: 6px;
    width: 163px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

.row-contato {
    height: 2px;
    width: 60vw;
    margin: 50px 0;
    background: rgb(215, 222, 231);
}

.container-social {
    display: flex;
    margin-top: 20px;
}

.container-social div {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 2px solid #388E3C;
    border-radius: 5px;
    display: flex;
    color: #388E3C;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}



@media (max-width: 575.98px) { 
    .container-titulo-contato {
        padding: 0 20px;
    }
}